{% extends "base/base.html" %}
{% block title %}{{company.name}} OÜ{% endblock title %}

{% block content %}

<div class="container">
    <div>
        <h1>{{ company.name }}</h1>
        <p><strong>Registrikood:</strong> {{ company.registration_code }}</p>
        <p><strong>Asutamise kuupäev:</strong> {{ company.date_of_establishment|date:"d.m.Y" }}</p>
        <p><strong>Kogukapital:</strong> {{ company.total_capital }} €</p>
    </div>

    <div class="sub-container">
        <h2>Osanikud</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Osaniku Tüüp</th>
                    <th>Osaniku Nimi</th>
                    <th>Osaniku Registrikood või Isikukood</th>
                    <th>Osaniku Suurus</th>
                    <th>Asutaja</th>
                </tr>
            </thead>
            <tbody>
                {% for shareholder in shareholders %}
                    <tr>
                        <td>{{shareholder.shareholder_type}}</td>
                        <td>{{shareholder.name}}</td>
                        <td>{{shareholder.registry_code_or_id}}</td>
                        <td>{{shareholder.share_size}}</td>
                        <td>{{shareholder.shareholder_status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <a href="{% url 'index' %}" class="input-button-secondary">Tagasi Avalehele</a>
</div>

{% endblock content %}