{% extends "base/base.html" %}
{% block title %}OÜ loomine{% endblock title %}

{% block content %}
    <div class="container">
        <form method="POST" class="form">
            {% csrf_token %}
            
            <h1>Lisa uus Osaühing</h1>
            <div class="form-group">
                {% for field in company_form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <h1>Lisa Asutajad</h1>
            <div id="search-div" class="sub-container">
                <input type="text" id="shareholder-search" class="form-input" placeholder="Otsi osanikku või ettevõtet...">
                <div id="search-results" class="form-search"></div>
            </div>

            <div id="shareholder-forms">
                {{ shareholder_formset.management_form }}
                {% for form in shareholder_formset %}
                    <div class="shareholder-form">
                        <div class="sub-container">
                            {% for field in form %}
                                <div class="form-field">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="error">
                                            {% for error in field.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button type="button" id="add-shareholder" class="input-button-secondary">Lisa UUS Asutaja Vorm</button>
            <button type="submit" class="input-button">Salvesta Osaühing ja Osanikud</button>
            {% if error_msg %}
                <div class="error">
                    <p>{{ error_msg }}</p>
                </div>
            {% endif %}
        </form>

        <a href="{% url 'index' %}" class="input-button-secondary">Tagasi Avalehele</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const formContainer = document.getElementById("shareholder-forms");
            const addButton = document.getElementById("add-shareholder");
            const totalForms = document.getElementById("id_form-TOTAL_FORMS");

            const searchDiv = document.getElementById("search-div");
            const searchInput = document.getElementById("shareholder-search");
            const searchResultsDiv = document.getElementById("search-results");

            searchInput.addEventListener("input", function () {
                const query = searchInput.value.trim();
                if (query.length > 2) {
                    fetch(`/search-shareholders/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            searchResultsDiv.innerHTML = "";

                            data.results.forEach(item => {
                                const resultElement = document.createElement('p');
                                resultElement.classList.add('search-result');
                                resultElement.textContent = `${item.name} (${item.registry_code_or_id})`;
                                resultElement.addEventListener('click', function () {
                                    const formIndex = Number(totalForms.value) - 1;
                                    document.getElementById(`id_form-${formIndex}-shareholder_type`).value = item.shareholder_status;
                                    document.getElementById(`id_form-${formIndex}-name`).value = item.name;
                                    document.getElementById(`id_form-${formIndex}-registry_code_or_id`).value = item.registry_code_or_id;

                                    searchResultsDiv.innerHTML = "";
                                    searchInput.value = "";
                                    addNewEmptyForm();
                                });
                                searchResultsDiv.appendChild(resultElement);
                            });
                        });
                } else {
                    searchResultsDiv.innerHTML = "";
                }
            });

            addButton.addEventListener("click", function() {
                addNewEmptyForm();
            })

            function addNewEmptyForm() {
                let formNum = Number(totalForms.value);
                let newForm = document.querySelectorAll(".shareholder-form")[0].cloneNode(true);

                newForm.querySelectorAll("input").forEach(input => input.value = "");
                
                newForm.innerHTML = newForm.innerHTML.replace(/-\d+-/g, `-${formNum}-`);
                formContainer.appendChild(newForm);

                totalForms.value = formNum + 1;
            }
        });
    </script>
{% endblock content %}
