{% extends "base/base.html" %}
{% block title %}{{company.name}} OÜ{% endblock title %}

{% block content %}

<div class="container">
    <div>
        <h1>{{ company.name }}</h1>
        <p><strong>Registrikood:</strong> {{ company.registration_code }}</p>
        <p><strong>Asutamise kuupäev:</strong> {{ company.date_of_establishment }}</p>
        <p><strong>Kogukapital:</strong> €{{ company.total_capital }}</p>
    </div>

    <div>
        <h2>Osanikud</h2>
        <table>
            <thead>
                <tr>
                    <th>Osaniku Nimi</th>
                    <th>Osaniku Suurus</th>
                </tr>
            </thead>
            <tbody>
                {% for shareholder in shareholders %}
                    <tr>
                        <td class="company-link">{{shareholder.name}}</td>
                        <td>{{shareholder.share_size}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Button to Add a Shareholder -->
    <a href="{% url 'add_shareholder' company.id %}" class="btn btn-primary">Add Shareholder</a>

    <!-- Back to Homepage -->
    <a href="{% url 'index' %}" class="btn btn-secondary">Back to Home</a>
</div>

{% endblock content %}