
{% extends "base/base.html" %}
{% block title %}Avaleht{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Otsi Osaühingut</h1>

        <form method="GET" class="form">
            <input type="text" name="q" class="search-input" placeholder="Otsi osaühinguid nime või registrikoodi alusel." value="{{ query }}">
            <button type="submit" class="input-button">Otsi</button>
        </form>

        {% if companies %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Osaühingu nimi</th>
                        <th>Registrikood</th>
                        <th>Osanikud</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>
                                <a href="{% url 'company_data' company.id %}" class="company-link">
                                    {{ company.name }}
                                </a>
                            </td>
                            <td>{{ company.registration_code }}</td>
                            <td>
                                {% with company.shareholders.all as shareholders %}
                                    {% if shareholders %}
                                        {% for shareholder in shareholders %}
                                            {{ shareholder.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <em>Pole osanikke</em>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-results">Osaühingut ei leitud.</p>
        {% endif %}


        <a class="input-button-secondary" href="{% url 'company_creation' %}">Lisa uus Osaühing</a>

    </div>

{% endblock content %}