
{% extends "base/base.html" %}
{% block title %}Avaleht{% endblock title %}

{% block content %}

    <div class="">
        <form method="GET">
            <input type="text" name="q" placeholder="Otsi osaühinguid või osanike" value="{{ query }}">
            <button type="submit">Otsi</button>
        </form>

        <ul>
            {% for company in companies %}
                <li>
                    <a href="{% url 'company_data' company.id %}">{{ company.name }} ({{ company.registration_code }})</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'company_creation' %}">Lisa uus Osaühing</a>
    </div>

{% endblock content %}